<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LeerParam</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Primero</display-name>
    <servlet-name>Primero</servlet-name>
    <servlet-class>Primero</servlet-class>
    <init-param>
      <description>Visitas de Mi página Web</description>
      <param-name>contador</param-name>
      <param-value>0</param-value>
    </init-param>
    
  </servlet>
  <servlet-mapping>
    <servlet-name>Primero</servlet-name>
    <url-pattern>/Primero</url-pattern>
    <url-pattern>/Primero11</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Segundo</display-name>
    <servlet-name>Segundo</servlet-name>
    <servlet-class>Segundo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Segundo</servlet-name>
    <url-pattern>/Segundo</url-pattern>
    <url-pattern>/Segundo11</url-pattern>
  </servlet-mapping>
   
  
  
  
</web-app>