<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Lectura_Parametros</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Descriptor</display-name>
    <servlet-name>LeeParametros</servlet-name>
    <servlet-class>LeeParametros</servlet-class>
    <init-param>
      <description>Nivel de log a aplicar</description>
      <param-name>NivelLog</param-name>
      <param-value>1</param-value>
    </init-param>
    <init-param>
      <description>Número de peticiones para atender</description>
      <param-name>NumeroPeticiones</param-name>
      <param-value>9</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeeParametros</servlet-name>
    <url-pattern>/LeeParametros</url-pattern>
    <url-pattern>/LeeParametros3</url-pattern>
  </servlet-mapping>
</web-app>